.avatar img{
    max-width:300px;
    max-height: 200px;
    border-radius: 15%;
    border: 10px, solid, black;
    margin-top: 10px;
}

ul li {
    list-style: none;
    padding: 0px;
    margin-left: 10px!important;
    padding-right: 10px;
    margin-bottom: 8px;  
}


ul li a{
    color: black;
}

.profile {
    margin-bottom: 30px;
}

.profile-title{
    color:rgb(73,10,72);
}


.authorBox {
    margin-bottom: 25px;
    width: 100%;
    
}

.authorList{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    width: 50%;
}

.info-title{
    border-bottom: 1px solid lightgray;
    color: rgb(73,10,72);
    margin-left: 0px;
    padding-left: 10px;
    padding-bottom: 6px;
    background-color: rgb(214,187,214);
}

.author-right{
    width:50%;
}

.author-form{
    width:100%;
    margin-right: 50px;
}

.author-buttons{
    margin-right: 30px;
    background: rgb(73,10,72);
    color:white;
    width: 50px;
    display: block;
    margin-top: 10px;
}

.volver{
    margin-right: 30px;
    margin-bottom: 30px;
}
span a {
    color: rgb(73,10,72);
    text-decoration: underline;
    
}

.author-create{
    color: rgb(73,10,72);
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 134px;
}





/*--- 1024 --- */
@media(min-width:1024px){
    .info-menu{
        margin-right: 30px;
    }
    
}