
.profile {
    margin-bottom: 30px;
}

.profile-title{
    color:rgb(73,10,72);
}

.info-profile {
    margin-bottom: 25px;
    width: 100%
}

.info-user{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    /* width: 60%; */
    
}

.info-compra{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    /* width:40% */
    
}

.info-title{
    border-bottom: 1px solid lightgray;
    color: rgb(73,10,72);
    margin-left: 8px;
    padding-left: 10px;
    padding-bottom: 6px;
    
}

p{
    margin-left: 16px;
}

span{
    color:red
}

.mensaje{
    color: grey;
    margin-left: 25px;
}

.form-check label{
    margin-left: 30px;
}

.form-check-input{
    width: 10%
}

input{
    margin-left: 25px;
    margin-bottom: 5px;
    width: 80%;
}

.info-payment{
    border-bottom: 1px solid lightgray;
    color: white;
    margin-left: 0px;
    padding-left: 10px;
    padding-bottom: 6px;
    background-color:  rgb(73,10,72)
}

h4{
    font-size: 18px;
    margin-top: 5px;
}

.info-payment-left{
    margin-left: 10px;
}

.info-payment-right{
    margin-right: 10px;
}

.bookPrice{
    border-bottom: 1px solid lightgray;
}


.book{
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.sub{
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.price{
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.gratis{
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.total{
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
    color: rgb(73,10,72);


}

.btn.btn-primary{
    background-color: rgb(73,10,72)!important;
    margin-bottom: 20px;
}

/*--- 1024 --- */
@media(min-width:1024px){
    .info-user{
        width: 60%;
        
    }

    .info-compra{
        width:40%
        
    }
    
}

