  .form-label {
    display: inline-block;
    font-size: 1.6em;
    margin: 10px 0;
  }
  .form-input {
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    font-size: 1.5em;
    border-radius: 16px;
    border: solid 2px grey;
    padding: 0 12px;
  }
  textarea.form-input {
    min-height: 140px;
    resize: vertical;
    padding: 15px;
  }
  .products-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    }
  .products-title {
    font-size: 2.4em;
    font-weight: 400;
    color: var(--gray);
  }
  div.back{ 
       background: rgb(238,236, 235); 
  }
  div.color{
    /* background: linear-gradient(#DA9FEE , rgb(186, 157, 196)); */
    /* background-color:#DA9FEE ; */
    background-color: rgb(209, 164, 209);
  }
  div.align{
      text-align: center;
      padding-bottom: 10px;
  }
  span.oblig{
      color: #686868; 
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  div.align button{
      background-color: rgb(73,10,72);  
      border: none;
      border-radius: 15px;
      padding:10px 20px;
      color: white;
      
  }
  div.align button:hover{
    background: linear-gradient(rgb(100, 49, 100) ,rgba(71, 9, 70, 0.966)); 
    border: solid rgb(46, 46, 46) 1px;
  }