.container {
  background-color: lightpink;
}

.product-image {
  width: 100%;
}

#product-title {
  text-align: center;
}

#book-description {
  font-size: 20px;
}

.fa {
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 10px;
}

@media (min-width: 768px){
  #text-center {
    text-align: left!important;
  }
}