
 h2{
   font-weight: 700 !important;
  }
  #requisitos{
    font-size: small;
  }
  
  .registro{
      text-align: center;
      margin-bottom: 10px;
  }
  .btn.btn-primary{
    background-color: rgb(73,10,72);
  }
  /* media*/
  
 @media(min-width: 768px){
    .form-control{
        width: 100%;
    } 
    .registro{
      text-align: left;
    }
    
 }