*{
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
  overflow: hidden;
}

header,footer,aside, main{
  float: left;
}

header{
  width: 100%;
  overflow: hidden;
}

.header1{
  overflow: hidden;
  background-color: rgb(214,187,214);
}

.logo{
  float:left;
  margin: 20px;
}

.busqueda{
  float: left;
  width: 903px;
  overflow: hidden;
  margin-top: 61px;
  margin-left: 27px;
}

.bar{
  height: 40px;
  width: 550px;
  border: 2px solid rgb(73,10,72);
  background: white;
  float: left;
}

.botonesb{
  padding-left: 0px;
  margin: 0px;
  float:right;
}

ul.botonesb li{
  font-size: 15px;
  list-style: none;
  background: rgb(73,10,72);
  height: 40px;
  width: 170px;
  border: 2px solid white;
  color: white;
  text-align: center;
  display: inline-block;
  padding-top: 10px;
}

.navigator{
  float: right;
  padding-left: 0px;
  margin: 0px;
  margin-right: 18px;
}

ul.navigator li{
  font-size: 15px;
  list-style: none;
  background: rgb(73,10,72);
  border: 1px solid white;
  color: white;
  width: 112px;
  text-align: center;
  padding: 4px 10px;
  margin: 10px;
}

.header2{
  overflow: hidden;
  background: white;
}

.menui{
  float: left;
  padding-left: 0px;
  margin: 0px;
  margin-left: 33px;
}

ul.menui li{
  font-size: 15px;
  display: inline-block;
  margin-right: 30px;
  height: 40px;
  padding-top: 13px;
  text-align: center;
}

.menud{
  float: right;
  padding-left: 0px;
  margin: 0px;
  margin-right: 33px;
}

ul.menud li{
  font-size: 15px;
  display: inline-block;
  margin-left: 30px;
  padding-top: 13px;
}

aside{
  border: 1px solid black;
  width: 20%;
  height: 20px;
}

main{
  border: 1px solid black;
  width: 80%;
  height: 20px;
}

footer{
  width: 100%;
  background-color: rgb(214,187,214);
}

.ayuda{

  background: rgb(73,10,72);
  text-align: center;
}

div.ayuda ul{
  padding: 0px;
  margin: 0px;
  margin-right: 48px;
}

div.ayuda ul li{
  list-style: none;
  font-size: 14px;
  color: white;
  display: inline-block;
  text-align: center;
  padding: 10px 64px;
}

.redes{
  text-align: center;
  color: rgb(73,10,72);
  background: rgba(214,187,214);
}

h5{
  font-style: italic;
  margin: 10px 0px;
  margin-right: 20px;
}

div.redes ul{

  padding-left: 0px;
  margin: 0px;
  margin-bottom: 10px;
}

div.redes ul li{
  font-size: 18px;
  display: inline-block;
  margin-right: 16px;
  text-align: center;
}