.container-fluid{
  background: rgb(243, 242, 242);
}

header{
  margin-left: 0PX;
}

.main-header{
  display: flex;
  justify-content: space-between;
  width:100%;
  background-color: rgb(214,187,214);
  align-items: center;
}

.logo{
  width: 13%;
  margin-left: 10px;
}

.busqueda{
  display: flex;
  justify-content: space-around; 
  width: 60%;
}

.bar{
  height: 40px;
  width: 65%;
  border: 2px solid rgb(73,10,72);
  background: white;
}

button{
  height: 40px;
  border-radius: 10px;
  background: rgb(73,10,72);
  color: white;
}

.navigator{
  padding-left: 0px;
  margin-bottom: 0px;
  width: 10%;
  margin: 10px 10px;
}

ul.navigator li{
  font-size: 15px;
  list-style: none;
  background: rgb(73,10,72);
  border: 1px solid white;
  color: white;
  text-align: center;
  margin-bottom: 5px;
}

ul.navigator li:nth-child(4){
  margin-bottom: 0px;
}

.bottom-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: white;
  margin-bottom: 10px;
}

.bottom-header ul{
  padding-left: 0px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.menui{
  margin-left: 15px;
}

.menud{
  margin-right: 15px;
}

.menui li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

.menud li{
  list-style: none;
  display: inline-block;
  margin-left: 30px;
}

aside article{
  background: white;
  margin-left: 10px;
  margin-bottom: 10px;
}

.titulos-aside{
  padding-top: 5px;
  padding-left: 10px;
}

article img{
margin-left: 10px;
width: 90%;  
margin-bottom: 5px;
}

.info-aside{
  padding: 10px 0px 10px 10px;
}

article ul{
  padding: 5px 20px 10px 20px;
  margin-bottom: 0px;
}

article ul li{
  list-style: none;
  border-top: 1px solid lightgrey;
  padding-top: 5px;
  margin-bottom: 3px;
}

.destacados{
  background: white;
  margin-bottom: 10px;
  margin-right: 10px;
}

.articles-section{
  display:flex;
  margin-top: 15px;
}

.articles-section article{
  text-align: center;
}

.articles-section img{
  width:50%;
}

.autor{
  font-weight: normal;
}

.precio{
  color: rgb(73,10,72);
  font-size: 20px;
}

.btn-warning{
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

footer{
  width: 100%;
  background-color: rgb(214,187,214);
}

.redes{
  text-align: center;
  color: rgb(73,10,72);
  background: rgba(214,187,214);
}

.social{
  font-style: italic;
  padding-top: 12px;
}

.redes ul{
  padding-left: 0px;
  margin: 0px;
  margin-bottom: 10px;
}

.redes ul li{
  font-size: 18px;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}

.redes ul li:nth-child(4){
  margin-right: 0px;
}

.ayuda{
  background: rgb(73,10,72);
  text-align: center;
}

.ayuda ul{
  padding: 0px;
  margin: 0px;
}

.ayuda ul li{
  list-style: none;
  color: white;
  display: inline-block;
  text-align: center;
  margin-right: 118px;
}

.ayuda ul li:nth-child(5){
  margin-right: 30px;
}

/*----AJUSTEEEE*/

@media(max-width:320px){

  .logo{
      width: 13%;
      margin-left: 0px;
  }

  .bar{
      height: 8px;
      width: 65%;
      border: 1px solid rgb(73,10,72);
      background: white;
  }
  
  button{
      height: 8px;
      border-radius: 10px;
      background: rgb(73,10,72);
      color: white;
      font-size: 8px;
  }

  ul.navigator li{
      font-size: 8px;
      list-style: none;
      background: rgb(73,10,72);
      border: 1px solid white;
      color: white;
      text-align: center;
      margin-bottom: 5px;
  }

}
