*{
  padding: 0px;
}

.container-fluid{
  padding:0px;
  background-color: rgb(238, 236, 235);
}

header{
  background-color: rgb(214,187,214)!important;
  margin-bottom: 10px;
}

.bg-light{
  background-color: rgb(214,187,214)!important;
}

nav a img{
  width:90%;
}

a.navbar-brand{
  width: 50%;
}

.form-inline{
width: 100%;
}

.form-control{
  display:inline-block;
  width: 81%;
  margin-right: 10px;
}

.nav-bar{
  margin: 0px 10px 0px 10px;
}

div.nav-bar ul{
  padding: 0px;
  margin: 0px;
}

div.nav-bar ul li{
  background-color: rgb(73,10,72);
  text-decoration: none;
  list-style: none;
  width: 49%;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}

div.nav-bar ul li a{
color: white;
}


/*----HEADER INFERIOR-----*/

.navigation{
  width: 80%;
}

.menu-b-der{
  width: 20%
}

ul.nav-bar-2{
  margin:0px;
}

ul.nav-bar-2 li{
  list-style: none;
  display: inline-block;
  font-size: 27px;
  font-weight: normal;
  margin-top: 5px;
}

ul.nav-bar-2 li a{
  color:black;
}

.btn-outline-success{
  color: rgb(73,10,72);
  border: 1px solid #ced4da;
}

button a{
  color: white;
}


/*-------BANNER-------*/
.banner{
  margin-bottom: 10px;
  width:100%
}

div.banner img{
  width:100%;
}

/*-------SECTION-------*/
.categorias{
  background-color: white;
  margin: 0px 10px;
}

h2{
  font-size: 20px;
  padding-top: 10px;
  margin-left: 10px;
}

.products{
  background-color: white;
  margin: 0px 10px 10px 10px;
}

article.product-des{
  background-color: white;
  margin: 0px 10px 10px 10px;
  padding: 10px 10px;
  min-width: 300px;
}

section article img {
  width:50%;
}

section article a {
  text-align: center;
}

p.titulo{
  margin: 10px 0px;
  font-weight: bold;
  text-align: center;
}

p.autor{
  margin-bottom: 5px;
}

p.precio{
  color: rgb(73,10,72);
  font-weight: bold;
  margin-bottom: 5px;
}

article button.btn-warning{
  color: white;
}

article div a{
  color: black
}

/*-------ASIDE-------*/

aside article img {
  width: 70%;
  margin-bottom: 10px;
}

div.sub-categorias ul{
  padding: 0px;
  margin: 10px 0px 10px 20px;
  padding-right: 17px;
}

div.sub-categorias ul li{
  list-style: none;
  margin-bottom: 5px;
  border-bottom: 1px solid lightgrey; 
}

.izq-art-3{
  width: 100%;
}

/*-----FOOTER-----*/

footer a{
  text-decoration: none;
}

.main-footer{
  background-color: rgb(214,187,214);
  color: rgb(73,10,72);
  padding-bottom: 5px;
}

div.main-footer h2{
  font-style: italic;
  font-size: 16px;
}

div.main-footer a{
  color: rgb(73,10,72);
  margin: 10px;
}

.bottom-footer{
  background-color: rgb(73,10,72);
}

div.bottom-footer ul{
  padding: 0px;
  margin: 10px 0px 10px 20px;
  padding-right: 17px;
}

div.bottom-footer ul li{
  list-style: none;
  margin-bottom: 5px;
  text-align: center;

}

div.bottom-footer ul li a{
  text-decoration: none;
  color: white;
}

/*-----768px-----*/


@media(min-width:768px){

  h2{
    font-size: 17px;
    padding-top: 10px;
    margin-left: 10px;
  }
  
  div.bottom-footer ul li{
    list-style: none;
    margin-bottom: 5px;
    margin-right: 21px;
    text-align: center;
    display: list-item;
    border-bottom: none;
  }

  nav a img{
    width:90%;
  }
  
  a.navbar-brand{
    width: 32%;
  }
  
  .navigation-top{
    width: 80%;
  }

  .nav-bar{
    width:20%;
  }

  .form-inline{
  width: 64%;
  }
  
  .form-control{
    display:inline-block;
    width: 10%;
    margin-right: 10px;
  }

  div.nav-bar{
    margin: 10px 10px 0px 10px;
  }

  div.nav-bar ul{
    padding: 0px;
    margin: 10px 0px 0px 0px;
  }

  div.nav-bar ul li{
    background-color: rgb(73,10,72);
    text-decoration: none;
    list-style: none;
    width: 96%;
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }

  article.product-des{
    background-color: white;
    margin: 0px 10px 10px 10px;
    padding: 10px 10px;
    min-width:0px;
    width: 29%;
  }

  .izquierda{
    width:34%
  }

  aside article img {
    width: 70%;
    margin-bottom: 10px;
  }
}

/*-----1024px-----*/

@media(min-width:1024px){
  
  div.nav-bar ul li{
    background-color: rgb(73,10,72);
    text-decoration: none;
    list-style: none;
    width: 97%;
    text-align: center;
    margin-bottom: 10px;
  }

  div.bottom-footer ul li{
    list-style: none;
    margin-bottom: 5px;
    margin-right: 60px;
    text-align: center;
    display: inline-block;
    border-bottom: none;
  }

  div.bottom-footer ul li:nth-child(5){
    margin-right: 36px;
  }

  a.navbar-brand{
    width: 22%;
  }

  ul.nav-bar-2 li{
    font-size: 15px;
    margin-right: 10px;
  }

  .izquierda{
    width:100%
  }

  .banner{
    margin-left: 10px;
  }

  div.banner img{
    width:90%;
  }

}

/*-----1444px-----*/

@media(min-width:1440px){
  
  div.nav-bar ul li{
    font-size: 19px;
    width: 83%;
    text-align: center;
    margin-bottom: 10px;
  }

  ul.nav-bar-2 li{
    font-size: 19px;
  }

  h2{
    font-size: 22px;
  }
}
