<!DOCTYPE html>
<html lang="en">
<head>
       <!--AQUÍ ESTÁ EL HEAD-->
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <title><%= title %> </title>
</head>

<body>

<div class="container">
<!--AQUÍ ESTÁ EL HEADER-->
    <%- include('./partials/header', {userLogged})%>

    <div class="d-flex flex-column align-items-center flex-lg-row justify-content-around">

 
        
            <div class="d-flex flex-column flex-lg-column justify-content-around admin-menu">
                <h2 class="info-title">¿Qué deseas hacer?</h2>
                <ul>
                    <li><a href="/products">Ver la lista de libros</a></li>
                    <li><a href="/products/create">Ingresar un nuevo Libro</a></li>
                    <li><a href="/products/authors">Ver / Ingresar un nuevo Autor</a></li>
                    <li><a href="/products/publishers">Ver / Ingresar una nueva Editorial</a></li>
                </ul>
            </div>  
        

    </div>


<%- include('./partials/footer') %>
<!-------AQUÍ ESTÁ EL FOOTER--------->
</div>
</body>
</html>