<!DOCTYPE html>
<html>
  <head>
    <title>Carrito</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/carrito.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d6525fcc60.js" crossorigin="anonymous"></script>
  </head>
  <body>
    
    <div class="container">

      <header>

        <div class="header1">

          <div class="logo"> <img height="100px" src="/images/logo.png" alt=""></div>

          <ul class="navigator">
            <li>Registo</li>
            <li>Login <i class="fas fa-sign-in-alt"></i></li>
            <li>Favoritos <i class="far fa-heart"></i></li>
            <li>Pedidos <i class="far fa-list-alt"></i></li>
          </ul>
          
          <div class="busqueda">
            <div class="bar"></div>
            <ul class="botonesb">
              <li>Buscar</li>
              <li>Búsqueda Avanzada</li>
            </ul>
          </div>
        </div>

        <div class="header2">

            <ul class="menui">
              <li>Comprar por categoria</li>
              <li>Los mas vendidos</li>
              <li>Proximamente</li>
              <li>Nuevos lanzamientos</li>
              <li>Outlet de libros</li>
            </ul>
            <ul class="menud">
              <li>Idioma</li>
              <li>Moneda</li>
              <li>Total</li>
              <li><i class="fas fa-shopping-basket"></i></li>
             </ul>
        </div>

      </header>
      <div class="carrito">
     <div class="cesta" ><h1>Tu compra</h1></div>
     <div class="detalle-cesta">
      <i class="fas fa-shopping-basket"></i>
      <div class="cesta-contenido">Tiene 1 articulo con un total de<span>ARP867</span>en tu compra</div>
      <div class="button"> <a href="">Proceder al Pago</a></div>
      <div class="condiciones"><p>Al realizar tu pedido confirmas que has leído y aceptas nuestros <a href="">Terminos y condiciones.</a></p></div>
        
     </div>
     <div class="detalle-carrito">
      <div class="detalle-cesta-titulo"><h2>Detalles de tu Compra</h2></div>
       <div class="img-libro"><img src="/images/libro.png" alt=""></div>
       <div class="calificacion">
         <div><h2>LARGO PETALO DE MAR</h2></div>
       <div class="estrellas">
         <span><i class="far fa-star"></i></span>
         <span><i class="far fa-star"></i></span>
         <span><i class="far fa-star"></i></span>
         <span><i class="far fa-star"></i></span>
         <span><i class="far fa-star"></i></span>
       </div>
       <div class="estrellas"><span>Idioma: Español |</span><span> Autor:Allende Isabel</span></div>
       <div class="estrellas"><span id="precio">ARS$867</span>
       <p>Disponible - Producto despachado en dos dias hábiles</p></div>
      </div>
      <div class="total">
        <form action="">
      <label for="cantidad" class="cantidad">Cantidad </label>
      <select name="" id="cantidad">
        <option value="">1</option>
        <option value="">2</option>
        <option value="">3</option>
      </select>
    </form>
    <p class="form">ARP$867</p>
    <form class="button-eliminar" action="">
      <input type="hidden">
      <button type="submit" class="button-remover">Eliminar</button>
    </form>
      </div>
    </div>
      <div class="mediosdepago"> 
        <div class="total-carrito">
          <div class="envios">
            <p class="envio"> Gastos de envío</p>
            <p class="envio-gratis">GRATIS</p>
          </div>
          <div class="envios-pago">
            <p class="envio">Total</p>
            <p class="envio-gratis">ARP$867</p>
          </div>
        </div>
        <div class="pago-final">
          <div class="button-final"> <a href="">Proceder al Pago</a></div>
          <div class="cards">
          <img src="/images/visa.gif" alt="">
          <img src="/images/maestro.gif" alt="">
          <img src="/images/mastercard.gif" alt="">
          <img src="/images/visad.gif" alt="">
          <img src="/images/visae.gif" alt="">
          </div> 
         
        </div>
      </DIV>
      <div class="continuar-comprando">
        <a href="">Seguir comprando</a>
      </div>

     </div>
   
    </div>
     <footer>

        <div class="redes">
          <h5>Síguenos</h5>
          <ul>
            <li><i class="fab fa-facebook-square"></i></li>
            <li><i class="fab fa-twitter-square"></i></li>
            <li><i class="fab fa-instagram-square"></i></li>
            <li><i class="fab fa-pinterest-square"></i></li>
          </ul>
        </div>

        <div class="ayuda">
          <ul>
            <li>Contacto</li>
            <li>Términos y condiciones</li>
            <li>Politicas de privacidad</li>
            <li>Ayuda</li>
            <li>Trabaja con nosotros</li>
          </ul>
        </div>

      </footer>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    </div>
