<!DOCTYPE html>
<html>
  <head>
    <title>HOME</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/d6525fcc60.js" crossorigin="anonymous"></script>
  </head>
  <body>
    
    <div class="container">

      <header>

        <div class="header1">

          <div class="logo"> <img height="100px" src="/images/logo.png" alt=""></div>

          <ul class="navigator">
            <li>Registo</li>
            <li>Login <i class="fas fa-sign-in-alt"></i></li>
            <li>Favoritos <i class="far fa-heart"></i></li>
            <li>Pedidos <i class="far fa-list-alt"></i></li>
          </ul>
          
          <div class="busqueda">
            <div class="bar"></div>
            <ul class="botonesb">
              <li>Buscar</li>
              <li>Búsqueda Avanzada</li>
            </ul>
          </div>
        </div>

        <div class="header2">

            <ul class="menui">
              <li>Comprar por categoria</li>
              <li>Los mas vendidos</li>
              <li>Proximamente</li>
              <li>Nuevos lanzamientos</li>
              <li>Outlet de libros</li>
            </ul>
            <ul class="menud">
              <li>Idioma</li>
              <li>Moneda</li>
              <li>Total</li>
              <li><i class="fas fa-shopping-basket"></i></li>
             </ul>
        </div>

      </header>
      <aside></aside>
      <main></main>
      <footer>

        <div class="redes">
          <h5>Síguenos</h5>
          <ul>
            <li><i class="fab fa-facebook-square"></i></li>
            <li><i class="fab fa-twitter-square"></i></li>
            <li><i class="fab fa-instagram-square"></i></li>
            <li><i class="fab fa-pinterest-square"></i></li>
          </ul>
        </div>

        <div class="ayuda">
          <ul>
            <li>Contacto</li>
            <li>Términos y condiciones</li>
            <li>Politicas de privacidad</li>
            <li>Ayuda</li>
            <li>Trabaja con nosotros</li>
          </ul>
        </div>

      </footer>


    </div>

  </body>
</html>
