<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    

    <link rel="stylesheet" href="/stylesheets/productAdd.css">
    <title>Document</title>
</head>
<body>
<div class="conteiner">
    <div class="row">
        <h3 class="col-sm-8 offset-2">Agregar Articulo </h3>
    </div>

   <form action="" class="products d-flex w-100 flex-wrap text-center direccion">
       <label for="" class="forma">Nombre</label>
        <input type="text">
        
        <label for="" class="forma">Formato</label>
          <select name="" id="">
            <option value="">Tapa Blanda </option>
            <option value="">Tapa Dura </option>
            <option value="">Audio </option>
            <option value="">Digital </option>
        
           </select>
        
        <label for="" class="forma">Editorial</label>
        <input type="text">

        <label for="" class="forma">Idioma</label>
        <select name="" id="">
            <option value="">Ingles </option>
            <option value="">Español </option>
            <option value="">Mandarin</option>
            <option value="">Frances</option>
        
           </select>

        <label for="">Categoria</label>
        <select name="" id="">
            <option value="">Aventuras </option>
            <option value="">Ciencia Ficcion</option>
            <option value=""> Gotico</option>
            <option value="">Policial</option>
            <option value="">Fantastica </option>
        
           </select>

        <label for="">Codigo</label>
        <input type="text">

        <label for="">Ranking</label>
        <input type="text">

        <label for="">Autor</label>
        <input type="text">

        <label for="">Precio</label>
        <input type="text">

        <label for="">Autor</label>
        <input type="text">

        <label for="">Descripcion</label>
        <textarea name="" id="" cols="30" rows="6"></textarea>

        <button type="submit" class="btn btn-primary">Agregar</button>

       
   </form>




</div>

    




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>