<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/productDetail.css' />
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-2">
          <img src="/images/example_product.jpg" alt="Producto" class="product-image">
        </div>
        <div id="book-description product-title" class="col-12 col-md-5">
          <h2>DUNE - Frank Herbert</h2>
          <p>Arrakis: un planeta desértico donde el agua es el bien más preciado, donde llorar a los muertos es símbolo de máxima prodigalidad. Paul Atreides: un adolescente marcado por un destino singular, dotado de extraños poderes, abocado a convertise en dictador, mesías y mártir. Los Harkonnen: personificación de las intrigas que rodean el Imperio Galáctico, buscan obtener el control sobre Arrakis para disponer de la melange, precioso especia y uno de los bienes más codiciados del unicerso. Los Fremen: seres libres que han convertido el inhóspito paraje de Dune en su hogar, y que se sienten orgullosos de su pasado y temerosos de su futuro. Dune: una obra maestra unánimemente reconocida como la mejor saga de ciencia ficción de todos los tiempos.</p>
        </div>
        <div class="col-12 col-md-5 text-center">
          <h2>¡Compartelo en tus redes sociales!</h2>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-instagram"></a>
          <a href="#" class="fa fa-pinterest"></a>
          <h3>$1300</h3>
          <h5>COSTOS DE ENVIO: ¡GRATIS!</h5>
          <button type="button" class="btn btn-success">COMPRAR</button>
        </div>
      </div>
      

      <div class="row">
        <div class="text-center col-12" col-md-8"">
          <label for="comment">Your Comment</label>
          <textarea name="comment" class="form-control" rows="3"></textarea>
        </div>
        <div class="text-center col-12 col-md-12">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </div>



      
      <div class="col-12 text-center">
        <h5><i>Juan Pérez</i> ha comentado:</h5>
        <p>Me ha encantado el libro! Podría haber sido un poco mas largo, pero muy recomendable! El producto llego en tiempo y forma, Impecable!</p>
        <h5><i>Caterina</i> ha comentado:</h5>
        <p>No soy aficionada a los libros de ciencia ficcion, pero este es muy recomendable!</p>
      </div>



    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>