<header class="d-flex flex-column">

    <div class="top-header d-flex flex-column flex-md-row border-bottom">
        
        <div class="navigation-top">
            <nav class="navbar navbar-light bg-light top-header justify-content-center justify-content-md-start">

                <a class="navbar-brand" href="/index"><img src="/images/logo.png" alt=""></a>

                <form class="form-inline">
                  <input class="form-control mr-sm-2" type="search" placeholder="Buscar libros porpalabra clave" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                </form>
              </nav>
        </div>


        <div class=" d-flex flex-column align-items-center nav-bar">

          <% if(userLogged == undefined) { %>
            <ul>
              <li><a href="/users/register">Registrarme</a></li>
              <li><a href="/users/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
              <li><a href="">Favoritos <i class="far fa-heart"></i></a></li>
              <li><a href="">Pedidos <i class="far fa-list-alt"></i></a></li>
            </ul>
          <% } else { %>
            <h2 class="username">Bienvenido, <%= userLogged.first_name %></h2>
            <ul>
              <li><a href="/users/profile">Mi Cuenta</a></li>
              <li><a href="">Favoritos <i class="far fa-heart"></i></a></li>
              <li><a href="">Pedidos <i class="far fa-list-alt"></i></a></li>
            </ul>      
          <% } %>

        </div>

    </div>

<!--AQUÍ ESTÁ EL HEADER INFERIOR-->
    <div class="buttom-header d-flex justify-content-center justify-content-lg-around shadow p-3 mb-5 bg-white rounded">

        <div class="navigation">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Comprar por categoría
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="#">Arte y Fotografía</a>
                          <a class="dropdown-item" href="#">Audiolibros</a>
                          <a class="dropdown-item" href="#">Biografía</a>
                          <a class="dropdown-item" href="#">Leyes, Negocios, Finanzas</a>
                          <a class="dropdown-item" href="#">Libros para niños</a>
                        </div>
                      </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Los mas vendidos <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Proximamente<span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="#">Nuevos lanzamientos<span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="#">Outlet de libros<span class="sr-only">(current)</span></a>
                      </li>
                   
                  </ul>
                </div>
              </nav>
        </div>


        <div class="menu-b-der d-flex justify-content-end align-items-center">
                <ul class="nav-bar-2">
                  <li class="d-none d-lg-inline">Idioma</li>
                  <li class="d-none d-lg-inline">Moneda</li>
                  <li class="d-none d-lg-inline">Total</li>
                  <li><a href="/carrito"><i class="fas fa-shopping-basket"></i></a></li>
                 </ul>
        </div>
    </div>
    
</header>